#reel1, #reel2, #reel3{
  font-size: 2rem;

}
#container{
  width: 23%;
  color: black;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid red;
  border-radius: 10px;
  background:white;
}
body{
  background-color: black;
}

button{
  width:20%;
  background: rgba(4, 71, 116, 0.589);
  color: white;
  border-radius: 10px
}
button:first-of-type{
  margin-left: 25%;
}

h1{
  color: rgb(0, 0, 0);
}
